 {% if "leaf" in inventory_hostname %}
vlan 4093
vlan 4094
interface ethernet 1
  channel-group 100 mode active
  no shutdown
interface ethernet 2
  channel-group 100  mode active
  no shutdown
interface port-Channel 100
  switchport mode trunk
 {%endif%}
ip routing
service routing protocols model multi-agent
router bgp {{underlay[inventory_hostname]['asn']}}
  router-id {{underlay[inventory_hostname]['loopbacks']['loopback0']['ipv4']}}
  maximum-paths 4 ecmp 4
  distance bgp 20 200 200
  no bgp default ipv4-unicast
  bgp log-neighbor-changes
  neighbor underlay  peer group
{% for peer, remote_asn in underlay[inventory_hostname]['bgp']['peers'] | zip(underlay[inventory_hostname]['bgp']['remote-as']) %}
  neighbor {{ peer }} remote-as {{ remote_asn }}
  neighbor {{ peer }} peer group underlay


{% endfor %}
  neighbor underlay allowas-in 1
  neighbor underlay maximum-routes 12000
  address-family ipv4
    network {{underlay[inventory_hostname]['loopbacks']['loopback0']['ipv4']}}/32
    neighbor underlay activate    
 {% if "leaf" in inventory_hostname %}
 router bgp {{underlay[inventory_hostname]['asn']}}
  neighbor {{underlay[inventory_hostname]['iBGP']['peer']}} remote-as {{ underlay[inventory_hostname]['iBGP']['asn'] }}
  neighbor {{underlay[inventory_hostname]['iBGP']['peer']}} next-hop-self
  address-family ipv4
    neighbor {{underlay[inventory_hostname]['iBGP']['peer']}} activate
    network {{underlay[inventory_hostname]['loopbacks']['loopback1']['ipv4']}}/32
 {% endif %}

  






    
